body {
    background-color: #F5F7FA;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    padding: 10px;
    background-color: white;
    border: 1px solid #E6E6EA;
    min-width: 675px;
}

.systemProfile {
    /*display: flex;*/
}

.sidebar {
    height: inherit;
    background-color: red;
    width: 200px;
    float: left;
    display: none;
}

.main {
    /*background-color: #00b5ad;*/
}

.faint {
    display: inline;
    opacity: 0.6;
}

/* https://css-tricks.com/examples/hrs/*/
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.title {
    font-weight: bold;
    display: inline;
}

.rightTitle {
    float: right
}

.mainContent {
    display: flex;
    justify-content: center;
}