body {
    background-color: #F5F7FA;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    padding: 10px;
    background-color: white;
    border: 1px solid #E6E6EA;
    min-width: 675px;
}

.systemProfile {
    /*display: flex;*/
}

.sidebar {
    height: inherit;
    background-color: red;
    width: 200px;
    float: left;
}

.main {
    background-color: #00b5ad;
}